/* Enable click through for transparent window.

body { pointer-events: none; }
* { pointer-events: all; }
.draggable { -webkit-app-region: drag; }

*/

body {
  overflow: hidden;
}

img {
  height: 200px;
}

#dog {
  position: absolute;
}
