/* Enable click through for transparent window.

body { pointer-events: none; }
* { pointer-events: all; }
.draggable { -webkit-app-region: drag; }

*/

body {
  overflow: hidden;
}

#dog {
  position: absolute;
}

#dog > img {
  position: inherit;
  left: inherit;
  top: 0px;
  height: 200px;
  transform: scaleX(-1); /* Flip image. */
}
